<% @wine.tags.build if @wine.tags.empty? %>
<% form_for(@wine) do |wine_form| %>
    <%= wine_form.error_messages %>

    <p>
      <%= wine_form.label :name %>*<br/>
      <%= wine_form.text_field :name %>
    </p>
    <p>
      <%= wine_form.label :varietal %><br/>
      <%= wine_form.text_field :varietal %>
    </p>
    <p>
      <%= wine_form.label :vintage %><br/>
      <%= wine_form.text_field :vintage %>
    </p>
    <p>
      <%= wine_form.label :region %><br/>
      <%= wine_form.text_field :region %>
    </p>
    <p>
      <%= wine_form.label :item_no %>*<br/>
      <%= wine_form.text_field :item_no %>
    </p>

    <%= wine_form.label :tags %>
    <div>
      <% wine_form.fields_for :tags do |tag_form| %>
          <p class="my_tag">
            <%= tag_form.text_field :name %>
            <% unless tag_form.object.nil? || tag_form.object.new_record? %>
                <%= tag_form.label :_destroy, 'Remove:' %>
                <%= tag_form.check_box :_destroy %>
            <% end %>
          </p>
      <% end %>
    </div>

    <a id="add_tag" href="#">Add Tag</a>
    <p>
      <%= wine_form.submit 'Save' %>
    </p>
<% end %>